# Dependencies
**/node_modules/

# Tooling
**/.tanstack/
**/.turbo/
**/.vite/

# Test artifacts
**/coverage/

# Build outputs
**/.build/
**/.output/
**/build/
**/dist/
**/out/
**/target/

# Generated source
**/*.gen.ts
**/gen/

# Local files
.todo
.DS_Store
