# Dependencies
**/node_modules/

# Tooling
**/.shopify/
**/.tanstack/
**/.turbo/
**/.vercel/
**/.vite/

# Test artifacts
**/coverage/

# Build outputs
**/.build/
**/.output/
**/build/
**/dist/
**/out/
**/target/

# Generated source
**/*.gen.ts
**/drizzle/
**/gen/
**/graphql-env.d.ts

# Archives
**/_deprecated/

# Local files
.todo
.DS_Store
